@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.extra{
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
}

.header{
  
  margin-bottom: 30px;
  
  display: flex;
}

.header p{
  color: black;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
}

body {
  font-size: 88.5%;
  font-family: 'Poppins', sans-serif;
}

.text-color {
  color: black;
  font-weight: 500;
}

.text-hover:hover {
  color: #546de5 !important;
  font-weight: 500;
  cursor: pointer;
}

.input-box {
  position: relative
}

.input-box i {
  position: absolute;
  right: 13px;
  top: 8px;
  color: black;
  font-size: 15px;
  font-weight: bold;
}


.submit-btn {
  border-radius: 20px;
  float: right;
}

.export-btn {
  border-radius: 25px;
}

.exports-btn {
  border-radius: 25px;
  width: 130px;
}

.slide {
  text-align: right;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
}

.slid {
  text-align: left;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
}

.shadow{
  box-shadow: -30px 30px 20px rgba(0,0,0,0.3); 
}

.extract {
  width: 700px;
}

.silver {
  background-color: silver;
  height: 70px;
  margin-left: 18px;
  margin-right: 18px;
}

.silve {
  height: 70px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: -25px;
  background-color: silver;

}

.silvers {
  margin-top: 21px;
  font-size: 17px;
  font-family:'Times New Roman', Times, serif;
}

.upper {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}


.cente{
  font-family:'Times New Roman', Times, serif;
  font-size: 17px;
  text-align: center;
  color: blue;
}

.cent{
  font-family:'Times New Roman', Times, serif;
  font-size: 17px;
  color: blue;
}

.centers {
  text-align: left;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
}

.ever{
  font-family:'Times New Roman', Times, serif;
  font-size: 17px;
}


.slow {
  text-align: left;
}

.slow a {
  text-decoration: none;
}

.short{
  width: 100px;
}

.righter{
  padding-left:205px ;
}

.button {
  width: 110px;
  height: 40px;
  border: 1px solid #6c5ce7;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #6c5ce7;
  background-color: #fff;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  font-family:'Times New Roman', Times, serif;
}

.button:hover {
  background-color: #dfe6e9;
  color: #6c5ce7;
  border: 1px solid #dfe6e9;
}

body{
  background: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
  font-size: 13px;
}

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background: #594f8d;
}

.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .headers{
  padding: 15px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  text-align: center;
  font-size: 18px;
}
