@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 75.5%;
  font-family: 'Poppins', sans-serif;
}

.main-border{
  border: 1px solid black;
}

.search-bar{
  width: 300px;
  border-radius: 20px;
}

.export-btn{
  width: 80px;
  border-radius: 15px;
}

.submit-btn{
  border-radius: 20px;
  width: 120px;
  float: right;
}

.borden-top{
  border-bottom: 1px solid black;
}

a:hover {
  color: #61dafb;
}

.inc-search{
  text-align: left;
}

.text-color {
  color: orange;
  font-weight: bold;
  font-size: 15px;
}

.input-box {
  position: relative;
}

.input-box i {
  position: absolute;
  right: 13px;
  top: 8px;
  color: black;
  font-size: 16px;
}

.button{
  width: 1oopx;
  height: 35px;
  border: 1px solid grey;
  font-size: 11px;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: grey;
  background-color: #fff;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-weight: 500;
}

.text-hover {
  color: #546de5 !important;
}

.hover{
  color: #546de5;
}

.form-select{
  font-size: 12px;
  box-shadow: none !important;
}

 input{
   box-shadow: none !important;
 }

.header{
  text-align: right;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-size {
  font-size: 15px !important;
}
